/* Basic page setup */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form container */
.container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Input fields */
.form-control {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
  
}

input:focus {
  border-color: #667eea;
  outline: none;
}

/* Error messages */
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: none;
}

/* Submit button */
button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #667eea;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #5a67d8;
}

#resultMessage{
   width: 100%;
  color: green;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
